nav{
    display:flex;
    float:left;
}

html,body{
    margin:0;
    padding:0;
}
.wiki-title{
    text-align:center;
}

.trailer{
    text-align:center;
}

.banner{

}

.nav-link{
    color:red;
}

.active{
    color:lightblue;
}

.powers{
    color:lightgrey;
}

.story{
    margin:0;
    border-bottom: 1px solid red;
    color: lightgrey;
}

.daisy{
    color: #a54901 !important;
}

.alias{
    font-size :15px;
}

video#bgvid{
    position :fixed; right:0; bottom:0;
    min-width: 100%; min-height:100%;
    width: auto; height: auto; z-index : -100;
    background: url(backgroundnovideo.png) no-repeat;
    background-size: cover;

}

video{
    display:block;
}